@import "tailwindcss";

html,body{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}   

::-webkit-scrollbar-track {
    background: transparent;
}   

::-webkit-scrollbar-thumb {
    background-color: rgba(16, 185, 129, 0.5); 
    border-radius: 20px;       
    border: none;  
}
